.donation-type {
    cursor: pointer;
    transition: all 0.3s;
}
.donation-type:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.donation-type.active {
    border: 2px solid #3498db;
    background-color: #f8f9fa;
}

.botaoDinheiro {
    font-size: 2rem; 
    color: #2ecc71;
}

.botaoAlimentos {
    font-size: 2rem; 
    color: #e67e22;
}

.botaoOutros {
    font-size: 2rem; 
    color: #3498db;
}